@font-face {
    font-family: "roboto";
    src: url("../fonts/Roboto-Regular.ttf") format("truetype");
}
.vertical-parent{
    display: flex;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    flex-direction: row;
}

.header-out
{
    padding-right: 2%;
}
/*Configuraciones swal*/
.swal2-container .select-wrapper{
    display: none !important;
    }
/*nav DE NAVEGACION*/
/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #444;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(80, 0, 0);
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(163, 3, 3);
  }
  .parallax-container{
      position: relative;
  }
  .center_logo{
    width: 80%;
    height: auto;
    vertical-align: middle;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }
  .titulos-valores
{
    top: 100px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.05em;
}
  p.quienes-parrafo
{
    font-family: 'Bebas Neue', cursive;
    color: white;
    font-size: 1.5em;
    background-image: url("../img/esport.png");
    background-repeat: no-repeat;
    text-align: center;
    letter-spacing: 0.05em;
}
  .contenedor-redes 
  {
    margin-top: 2%;
    margin-bottom: 2%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;  
  }
  .margin-redes
{
    margin-left: 20%;
    margin-right: 20%;
}
iframe
{
    display: block;
    margin: auto;
    width: 100%;
    height: 280px;
}
  .redes{
   height: 50px;
   width: auto;
   padding-left: 15%;
   padding-right: 15%;
  }
.sidenav
{
    padding-top: 1%;
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 100%;
    opacity: 0.95;
    background-color: #141414;
    letter-spacing: 0.05em;
}
.sidenav li
{
    margin-top: -1%;
}
.sidenav li a
{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5em;
    color: white;
    letter-spacing: 0.05em;
}
.sidenav a:first-child
{
    margin-top: 1em;
    margin-left: 1%;
}
.sidenav li:last-child a
{
    color: #DA3336;
}

.sidenav a.close
{
    margin-bottom: 2em;
    text-align: right;
    float: right;
    color: white;
}
.sidenav a.close i
{
    font-size: 1.2em;
}

.sidenav a.iniciar
{
    margin-top: -0.01em;
    position: absolute;
    text-align: left;
    float: left;
    color: white;
    width: auto;
}
nav .nav-wrapper{
    background: #252525;    
    -webkit-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.75);
}
.carmesi-text{
    color: #ED212A;
}
.dropequipos
{
    display: none;
    background: #141414;
    position: fixed;
    z-index: -1;
    padding-top: 4%;
    border-radius: 10px;
    width: 60%;
    margin-left: 30%;
    height: auto;
    padding-left: 5%;
    padding-right: 5%;
    -webkit-box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.5);
    -moz-box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.5);
    box-shadow: 10px 10px 5px 1px rgba(0,0,0,0.5);
}
.dropequipossee
{
    display: block;
}
.nav-equipos-drop
{
    margin-top: 3%;
    width: 100%;
    height: auto;
}
nav
{
    height: 60px;
}
.fondo_wolf
{
    margin-left: -2%;
    margin-top: 5px;
    width: auto;
    height: 3em;
    box-shadow: none;
}

body
{
    background: #252525;
}

.slider .slides
{
    background-color: #252525;
}
.slider .indicators .indicator-item.active
{
    
    background-color: #DA3336;
}
.slider .indicators .indicator-item
{
    z-index: 2;
    top: -4em;
}
.indicador-right
{
    display: flex;
    justify-content: center;
    color: white;
    position: absolute;
    z-index: 3;
    top: 45%;
    font-size: 4em;
    right: 1%;
    float: right;
}
.indicador-left
{
    display: flex;
    justify-content: center;
    color: white;
    position: absolute;
    z-index: 3;
    top: 45%;
    font-size: 4em;
    float: left;
}
i.indicador-right:hover , i.indicador-left:hover
{
    cursor: pointer;
}
.equipo_navbar
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5em;
    margin-bottom: 4%;
    letter-spacing: 0.05em;
}
.collapsible-body.navbar-equipos
{
    background-color: #141414;
}
.collapsible-body.navbar-equipos ul li
{
    font-size: 0.9em;
    color: #ED212A;
}
.equipo
{
    margin-top: 3%;
    margin-bottom: 3%;
;
}
.equipo-imagen
{
    background-color: #AF0404;
    padding: 15%;
    width: 100%;
    height: auto;
    -webkit-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.75);
    box-shadow: 1px 2px 5px 1px rgba(0,0,0,0.75);
}
.afiliado-imagen
{
    padding-left: 15%;
    padding-right: 15%;
    width: 100%;
    height: auto;
}
.patrocinador-imagen
{
    width: 100%;
    height: auto;
}
.titulo
{
    margin-top: -50px;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.05em;
}
.titulos
{
    font-family: 'Bebas Neue', cursive;
    margin-top: -13.291px;
    letter-spacing: 0.05em;
}
.fondo-equipos
{
    background-color: #414141;
}
.send
{
    background-color: #ED212A;
    font-family: 'Bebas Neue', cursive;
    font-size: 2em;
    letter-spacing: 0.05em;
}
.send:hover
{
    background-color: rgb(155, 0, 8);
}
form
{
    margin-top: 3%;
    margin-bottom: 3%;
}
section.fondo-equipos input.validate.forms_input::placeholder , textarea.forms_input::placeholder
{
    color: #707070;
}

section.fondo-equipos input.validate.forms_input, textarea.forms_input
{
    margin-top: 1.5em;
    padding-left: 0.5em;
    font-size: 1.6em;
    font-family: "roboto", sans-serif;
    background-color: white;
    color: #252525;
}

section.fondo-equipos .input-field label {
    color: #fff;
    font-size: 3em;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 0.05em;
  }
  .modal .input-field label {
    color: #fff;
    font-size: 1.4em;;
  }

  textarea#textarea1
  {
    min-height: 200px;
  }

  /* label focus color */
  .modal .input-field input:focus + label, .input-field input[type=password].forms_input:focus + label,.input-field input[type=text].forms_input:focus + label, .input-field input[type=email].forms_input:focus + label, .input-field textarea.materialize-textarea.forms_input:focus + label  {
    color: #ED212A;
  }
  /* label underline focus color */
  .input-field input:focus,.input-field input[type=password].forms_input:focus, .input-field input[type=text].forms_input:focus, .input-field input[type=email].forms_input:focus , .input-field textarea.forms_input:focus {
    border-bottom: 1px solid #ED212A;
    box-shadow: 0 1px 0 0 #ED212A;
  }
  /* valid color */
  .input-field input.valid, .input-field input[type=password].valid, .input-field input[type=email].valid, .input-field textarea.valid {
    border-bottom: 1px solid white;
    box-shadow: 0 1px 0 0 white;
  }
  /* invalid color */
  .input-field input.invalid, .input-field input[type=password].invalid, .input-field input[type=email].invalid, .input-field textarea.invalid {
    border-bottom: 1px solid #AF0404;
    box-shadow: 0 1px 0 0 #AF0404;
  }
  /* icon prefix focus color */
  .input-field .prefix.active {
    color: #ED212A;
  }
  .input-field:focus {
    color: #ED212A;
  }
  .footer-arriba
  {
      background: #414141;
  }
  .footer-copyright.footer-abajo
  {
      background-color: #252525;
  }
  .modal-text
  {
      font-family: 'Bebas Neue', cursive;
      letter-spacing: 0.05em;
  }
/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 600px) {
    p.quienes-parrafo
    {
        font-family: 'Bebas Neue', cursive;
        color: white;
        font-size: 1.5em;
        background-image: url("");
        background-repeat: no-repeat;
        letter-spacing: 0.05em;
    }
    iframe
    {
        display: block;
        margin: auto;
        width: 500px;
        height: 280px;
    }
    .fondo_wolf
    {
        margin-left: 2%;
        margin-top: 5px;
        width: auto;
        height: 3em;
        box-shadow: none;
        
    }
    nav a.iniciar_sesion
    {
        margin-left: 10%;
        font-family: 'Bebas Neue', cursive;
        font-size: 1.5em;
        letter-spacing: 0.05em;
    }

 }
/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) { 
    nav .nav-wrapper ul li a
{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5em;
    letter-spacing: 0.05em;
}

nav .nav-wrapper ul li:last-child a
{
    color: #DA3336;
}
.fondo_wolf
{
    margin-left: 2%;
    margin-top: 5px;
    width: auto;
    height: 3em;
    box-shadow: none;
}
 }

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) { 
    .fondo_wolf
    {
        margin-left: 2%;
        margin-top: 5px;
        width: auto;
        height: 3em;
        box-shadow: none;
    }
        nav .nav-wrapper ul li a
    {
        font-family: 'Bebas Neue', cursive;
        font-size: 1.5em;
        letter-spacing: 0.05em;
    }

    nav .nav-wrapper ul li:last-child a
    {
        color: #DA3336;
    }

 }

/*Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) { 
    .center_logo{
        width: auto;
        height: 100%;
      }
    .indicador-right
{
    display: flex;
    justify-content: center;
    color: white;
    position: absolute;
    z-index: 3;
    top: 40%;
    font-size: 4em;
    right: 1%;
    float: right;
}
.indicador-left
{
    display: flex;
    justify-content: center;
    color: white;
    position: absolute;
    z-index: 3;
    top: 40%;
    font-size: 4em;
    float: left;
}
   
    .fondo_wolf
    {
        margin-left: 2%;
        margin-top: 5px;
        width: auto;
        height: 3em;
        box-shadow: none;
    }
nav .nav-wrapper ul li a
{
    font-family: 'Bebas Neue', cursive;
    font-size: 1.5em;
    letter-spacing: 0.05em;
}

nav .nav-wrapper ul li:last-child a
{
    color: #DA3336;
}
 }