<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="../../main_dashboard.js"></script>

<footer class="page-footer grey darken-4">
    <div class="col l12 m12 s12 center black">© 2020 Copyright WolfPack todos los derechos reservados.</div>
  </footer>
</body>
</html>
