<!DOCTYPE html>
<html lang="es">
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../../style_dashboard.css">
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="//cdn.jsdelivr.net/npm/@sweetalert2/theme-dark@3/dark.css" rel="stylesheet">

    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <meta charset="utf-8" />
    <title>Wolf Pack</title>
  </head>
  <body>
<section>
    <div class="navbar-fixed">
        <nav>
            <div class="nav-wrapper" >
              <a class="brand-logo left"><h3 class="bebas_tipografia"><%=subtitulo%></h3></a>
              <a href="#" data-target="slide-out-admin" class="sidenav-trigger right show-on-large"><i class="material-icons">menu</i></a>
            </div>
        </nav>
        <ul class="sidenav" id="slide-out-admin">
          <li><a class="sidenav-close" href="#index">Inicio</a></li>
          <li><a class="sidenav-close" href="#equipo">Equipos </a></li>
          <li><a class="sidenav-close" href="#Who">Quienes somos</a></li>     
          <li><a class="sidenav-close" href="#Patrocinadores">Patrocinadores</a></li>
          <li><a class="sidenav-close" href="#Contact">Contactanos</a></li>
          <li><a class="sidenav-close" href="tineda.html">Tienda</a></li>
      </ul>
        
              
    </div>
</section>