<section class="row">
    <div class="parallax-container">
        <div class="parallax"><img src="../../img/wolf2.png"/></div>
        <div class=" container vertical-parent">      
            <div class="col m12 s12 "><h2 class="bebas center white-text">Inicio de sesión</h2> </div>
            <div class="col m6 s12 pull-m3 pull-s3">
                <form class="col s12 z-depth-1 login-box" action="/login" method="POST">
                    <div class="row vertical-parent">
                        <div class="input-field col s11 m11 pull-m1 pull-s1">
                            <input placeholder="correo@gmail.com" id="first_name" type="text" class="validate forms_input" name="correo">
                            <label for="first_name">Correo</label>
                        </div>
                        <div class="input-field col s11 m11 pull-m1 pull-s1">
                            <input placeholder="Contraseña" id="first_name" type="password" class="validate forms_input" name="pass">
                            <label for="first_name">Contraseña</label>
                        </div>
                        <div class="col s11 m11 pull-m1 pull-s1"><button type="submit" class="waves-effect waves-light btn right red darken-3 btn-form"><i class="material-icons right">send</i>Iniciar</button></div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>