<div>
    <div class="center-align white-text titulos section scrollspy" id="Contact">
        <h2>Contactanos</h2>
    </div>
    <section class="fondo-equipos">
        <div class="container">
        <div class="row">
            <form action='/register' method="post" class="col s12 m12" autoComplete="off">

                <div class="input-field col s12 m6">
                    <input placeholder="example@gmail.com" id="first_name" type="email" autoComplete="off" class="validate forms_input" name="email" required/>
                    <label class="forms" for="first_name">Correo</label>
                </div>
                <div class="input-field col s12 m6">
                    <input placeholder="Asunto" id="Asunto" type="text" autoComplete="off" class="validate forms_input" name="asunto" required/>
                    <label for="Asunto">Asunto</label>
                </div>
                <div class="input-field col s12" id="mensaje">
                    <textarea placeholder="Mensaje" id="textarea1" autoComplete="off" class="materialize-textarea forms_input" name="mensaje" required></textarea>
                    <label for="mensaje">Mensaje</label>
                </div>
                <div class="col s12 m12 right-align">
                    <button class="btn waves-effect waves-light send" autoComplete="off" type="submit">Enviar</button>
                </div>
            
            </form>
        </div>
        </div>
    </section>
</div>