<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
<script src="main.js"></script>

<footer class="page-footer grey darken-4">
    <div class="row">
        <div class="footer-copyright grey darken-4 ">
            <div class="container vertical-parent">
                <a href="#!" class="col m2 s4 pull-m2"><img class="responsive-img center"  src="../../img/logo_wolf_bank_icono.png" alt="logo wolf code"></a>
                <a href="#!" class="col m2 s4 pull-m1"><img class="responsive-img center"  src="../../img/wolfpack_logo.png" alt="logo wolfpack "></a>
                <a href="#!" class="col m2 s4"><img class="responsive-img center"  src="../../img/materialize-logo.png" alt="logo materialuze"></a>
                
            </div>
        </div>
    </div>
    <div class="col l12 m12 s12 center black">© 2020 Copyright WolfPack todos los derechos reservados.</div>
  </footer>
</body>
</html>
