<section>
    <div class="center-align white-text titulo section scrollspy" id="Patrocinadores">
        <h2>patrocinadores</h2>
    </div>
    <div class="fondo-equipos">
        <div class="container">
            <div class="row">
            <div class="col s12 m4 equipo">
                <a href=""><img src="../../img/hyper.png"  class="patrocinador-imagen modal-trigger" href="#modal1"/></a>
            </div>
            <div class="col s12 m4 equipo">
                <a href=""><img src="../../img/hyper.png" class="patrocinador-imagen modal-trigger" href="#modal2"/></a>
            </div>
            <div class="col s12 m4 equipo">
                <a href=""><img src="../../img/hyper.png" class="patrocinador-imagen modal-trigger" href="#modal3"/></a>
            </div>
            <div id="modal1" class="modal grey darken-3 white-text">
                <div class="modal-content">
                    <h4>Modal Header 1</h4>
                    <p>A bunch of text</p>
                </div>
                <div class="modal-footer grey darken-4 ">
                    <a href="#!" class="modal-close waves-effect waves-red btn-flat white-text"><i class="material-icons">image</i></a>
                    <a href="#!" class="modal-close waves-effect waves-red btn-flat white-text"><i class="material-icons">image</i></a>
                    <a href="#!" class="modal-close waves-effect waves-red btn-flat white-text"><i class="material-icons">image</i></a>
                </div>
                </div>
                <div id="modal2" class="modal grey darken-3 white-text">
                    <div class="modal-content">
                    <h4>Modal Header 2</h4>
                    <p>A bunch of text</p>
                    </div>
                    <div class="modal-footer grey darken-4 ">
                    <a href="#!" class="modal-close waves-effect waves-red btn-flat white-text"><i class="material-icons">image</i></a>
                    <a href="#!" class="modal-close waves-effect waves-red btn-flat white-text"><i class="material-icons">image</i></a>
                    <a href="#!" class="modal-close waves-effect waves-red btn-flat white-text"><i class="material-icons">image</i></a>
                    </div>
                </div>
                <div id="modal3" class="modal grey darken-3 white-text">
                    <div class="modal-content">
                    <h4>Modal Header 3</h4>
                    <p>A bunch of text</p>
                    </div>
                    <div class="modal-footer grey darken-4 ">
                    <a href="#!" class="modal-close waves-effect waves-red btn-flat white-text"><i class="material-icons">image</i></a>
                    <a href="#!" class="modal-close waves-effect waves-red btn-flat white-text"><i class="material-icons">image</i></a>
                    <a href="#!" class="modal-close waves-effect waves-red btn-flat white-text"><i class="material-icons">image</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>