<section class="container">
    <br>
    <section class="row fondo-equipos">
        <form class="col s12 white-text" autocomplete="off" method="post" action="/register">
        <div class="titulos white-text center"><h2>Registrate</h2></div>
          <div class="row">
            <div class="input-field col s11 m11">
              <i class="material-icons prefix">account_circle</i>
              <input placeholder="Nombre" id="first_name" type="text" class="validate forms_input" name="Fname">
              <label for="first_name">Nombres</label>
            </div>
            <div class="input-field col s11 m11">
                <i class="material-icons prefix">account_box</i>
                <input placeholder="Apellido" id="first_name" type="text" class="validate forms_input" name="Lname">
                <label for="first_name">Apellidos</label>
            </div>
            <div class="input-field col s11 m11">
                <i class="material-icons prefix">email</i>
                <input placeholder="correo@gmail.com" id="first_name" type="text" class="validate forms_input" name="correo">
                <label for="first_name">Correo</label>
            </div>
            <div class="input-field col s11 m11">
                <i class="material-icons prefix">lock</i>
                <input placeholder="Contrase?a" id="first_name" type="password" class="validate forms_input" name="pass">
                <label for="first_name">Contrase?a</label>
            </div>
            <div class="input-field col s11 m11">
                <i class="material-icons prefix">lock_outline</i>
                <input placeholder="Repetir contrase?a" id="first_name" type="password" class="validate forms_input" name="Rpass">
                <label for="first_name">Contrase?a</label>
            </div>
          </div>
            <div class="col s12 m11 right-align">
              <button class="btn waves-effect waves-light send" autoComplete="off" type="submit">Registrarte</button>
            </div>
        </form>
      </section>
</section>