<section class="scrollspy" id="index">
    <div class="slider">
        <i class="large material-icons indicador-right">keyboard_arrow_right</i>
        <i class="large material-icons indicador-left">keyboard_arrow_left</i>
        <ul class="slides">
            <li>
                <img src="../../img/wolf1.png"/>
                <div class="caption center-align">
                <h3>This is our big Tagline!</h3>
                <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
                </div>
            </li>
        <li>
            <img src="../../img/wolf2.png"/>
            <div class="caption left-align">
            <h3>Left Aligned Caption</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="../../img/wolf3.png"/>
            <div class="caption right-align">
            <h3>Right Aligned Caption</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        <li>
            <img src="../../img/wolf4.png"/>
            <div class="caption center-align">
            <h3>This is our big Tagline!</h3>
            <h5 class="light grey-text text-lighten-3">Here's our small slogan.</h5>
            </div>
        </li>
        </ul>
    </div>
</section>