<section>
    <div class="center-align white-text titulo">
        <h2>Equipos</h2>
    </div>
        <div class="fondo-equipos section scrollspy" id="equipo">
            <div class="container">
                <div class="row">
                    <a href="Team"> 
                        <div class="col s6 m4 equipo">
                            <img src="img/smash blanco.png" class="equipo-imagen"/>
                        </div>
                    </a>
                    <div class="col s6 m4 equipo">
                        <img src="img/smash blanco.png" class="equipo-imagen"/>
                    </div>
                    <div class="col s6 m4 equipo">
                        <img src="img/smash blanco.png" class="equipo-imagen"/>
                    </div>
                    <div class="col s6 m4 equipo">
                        <img src="img/smash blanco.png" class="equipo-imagen"/>
                    </div>
                    <div class="col s6 m4 equipo">
                        <img src="img/smash blanco.png" class="equipo-imagen"/>
                    </div>
                    <div class="col s6 m4 equipo">
                        <img src="img/smash blanco.png" class="equipo-imagen"/>
                    </div>
                </div>
            </div>
        </div>
</section>