<section class="section scrollspy" id="Who">
    <div class="center-align white-text titulos">
        <h2>Quienes somos</h2>
    </div>
   
    <div class="quienes-inicio ">
        <div class="row">
        <div class="parallax-container">
            <div class="parallax"><img src="../../img/wolf2.png"/></div>
            <div class="center"><img class="center_logo" src="../../img/wolfpack_logo.png"/></div>
        </div>
            <div class="col s12 m12 grey darken-4">
                <ul class="contenedor-redes margin-redes">
                    <li><a target="blank" href="https://www.facebook.com/WolfPackSV"><img src="../../img/face_logo.png" alt="smash" class="redes"/></a></li>
                    <li><a target="blank" href="https://www.instagram.com/wolfpacksv/"><img src="../../img/insta_logo.png" alt="smash" class="redes"/></a></li>
                    <li><a target="blank" href="https://www.youtube.com/channel/UCrR25x-QJf5jpqzqx5e6zxQ/"><img src="../../img/yt_logo.png" alt="smash" class="redes"/></a></li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="fondo-equipos">
            <div>
                <br>
                <iframe width="560" height="315" src="https://www.youtube.com/embed/AtVt5DUl-CQ" frameBorder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowFullScreen></iframe>
            </div>
            <br/><br/>

        <div class="row  valores">
            <div class="col s12 m4">
                <h2 class="center-align white-text titulos-valores">Vision</h2>
                <p class="quienes-parrafo">“Buscamos ser una de las organizaciones de deportes electrónicos más prominentes de la región centroamericana mediante la integra preparación de los competidores para ayudarlos a desarrollar competencia y aptitud e impulsar su talento en las distintas divisiones donde se desarrollen en categorías locales y regionales y de esta forma posicionarnos como una de las organizaciones regionales de mejor categoría”</p>
            </div>
            <div class="col s12 m4">
                <h2 class="center-align white-text titulos-valores">Mision</h2>
                <p class="quienes-parrafo">“Promover los Deportes electrónicos locales y regionales a través de la participación en ambas categorías de competencias, apoyando el talento de los jóvenes sobresalientes en los deportes electrónicos.”</p>
            </div>
            <div class="col s12 m4">
                <h2 class="center-align white-text titulos-valores">Valores</h2>
                <p class="quienes-parrafo">"Creemos fervientemente en la necesidad de la preparación de nuestros jugadores para que puedan destacar en todos los aspectos de su desarrollo personal en la duración de su estadía en nuestra organización, maximizando de esta forma el potencial del equipo en conjunto, pero a su vez de los individuos como potenciales iconos del deporte electrónico en nuestra localidad"</p>
            </div>
        </div>
    </div>
</section>